# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Jupyter Notebooks
.ipynb_checkpoints/
*.nbconvert.ipynb

# Virtual Environment
env/
venv/
ENV/
env.bak/
venv.bak/
*.env
*.venv

# Python Distribution/Packaging
build/
dist/
*.egg-info/
*.egg

# Editor-specific
.vscode/
.idea/
*.swp
*~ 
*.sublime-workspace
*.sublime-project

# Logs
*.log

# Dataset files or model weights (if used in the project)
data/
models/

# Environment variables files
.env